<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="shortcut icon" href="../static/styles/rsc/console.ico" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">

    </head>
    <body>
        <!-- Header bar -->
        <div class="header">
            <a href="index" class="logo" style="margin-left: 2vmin;">Game Center</a>
            <div class="dropdown">
                <button class="dropdown-btn">{{username}}</button>
                <div class="dropdown-content">
                    <button onclick="window.location.href='http://127.0.0.1:5000/profile';">Profile</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/dashboard';">Reservations</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/api/logout';">Logout</button>
                </div>
            </div>
        </div>
            <!-- Main container -->
    <div class=" reservation">
        <h2>Your Current Reservations</h2>
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody class="reservation-text">
                <tr>
                    <td>Monopoly</td>
                    <td>2023-05-10</td>
                    <td>14:00</td>
                    <td>4</td>
                    <td><button class="reservation-cancel">Cancel</button></td>
                </tr>
                <tr>
                    <td>Chess</td>
                    <td>2023-05-12</td>
                    <td>15:30</td>
                    <td>2</td>
                    <td><button class="reservation-cancel">Cancel</button></td>
                </tr>
                <tr>
                    <td>Scrabble</td>
                    <td>2023-05-14</td>
                    <td>16:00</td>
                    <td>7</td>
                    <td><button class="reservation-cancel">Cancel</button></td>
                </tr>
            </tbody>
        </table>
        <button class="make-reservation-btn">Make Reservation</button>
        <br>

        <button class="make-reservation-btn" onclick="window.location.href='http://127.0.0.1:5000/games';">All Games</button>

    </div>

    <!-- All games button -->

    <script>
        // Login button functionality
        const loginBtn = document.querySelector('.login-btn');
        loginBtn.addEventListener('click', () => {
            window.location.href = 'login.html';
        });
    </script>
</body>
</html>
