<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="shortcut icon" href="../static/styles/rsc/console.ico" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">

    <script>
	
        // Login button functionality
	/*
        const loginBtn = document.querySelector('.login-btn');
        loginBtn.addEventListener('click', () => {
            window.location.href = 'login.html';
        });
	*/

        async function showAllReservations() {
            let url = '/api/view_reservations';
            let response = await fetch(url);
            let data = await response.json();
            console.log(data)


            if (data[0][0] == 'nothing'){
                document.getElementById("wholeTable").innerHTML = "<div style=\"color : #d8d8d8;\">You don't have any reservations</div>"
            }
            //document.getElementById("reservationsss").innerHTML += "You don't have any reservations"
            for (i = 0; i < data.length; i++) {

/*
                // 👇️ Tue Jan 18 2022 00:00:00
                console.log(removeTime(new Date()));

                // 👇️ Wed Jan 19 2022 00:00:00
                console.log(removeTime(new Date(2022, 0, 19, 9, 30, 0)));*/
                var date = new Date(data[i][4])


                document.getElementById("reservationsss").innerHTML += '<b>' + '<tr> <td>' + data[i][1] + '</td> <td>' + data[i][2] + '</td>  <td>' + data[i][3] + ' h' + '</td> <td>'+ date.toDateString() + '</td> <td> <button class="reservation-cancel" onclick="window.location.href=\'http://127.0.0.1:5000/api/delete_reservation?id=' + data[i][0]+ '\';">Cancel</button></td></b>';
                //document.getElementById("all_Games").innerHTML += 'ID: ' + data["data"][i]["id"] + '<br>'; // titre en bold
            }
        }

        window.onload = async function() {
            await showAllReservations();
        }
    </script>

    </head>
    <body>
        <!-- Header bar -->
        <div class="header">
            <a href="index" class="logo" style="margin-left: 2vmin;">Game Center</a>
            <div class="dropdown">
                <button class="dropdown-btn">{{username}}</button>
                <div class="dropdown-content">
                    <button onclick="window.location.href='http://127.0.0.1:5000/profile';">Profile</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/dashboard';">Reservations</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/api/logout';">Logout</button>
                </div>
            </div>
        </div>
            <!-- Main container -->
    <div class=" reservation">
        <div style="text-align: left; color : #d8d8d8; ">Your current balance : CHF {{balance}}.-</div>
        <h2>Your Reservations</h2>

        <table id="wholeTable">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Room</th>
                    <th>Time</th>
                    <th>Date</th>
		            <th>Cancel</th>
                </tr>
            </thead>
            <tbody class="reservation-text" id="reservationsss">

            </tbody>
        </table>
        <button class="make-reservation-btn" onclick="window.location.href='http://127.0.0.1:5000/reservation';">Make Reservation</button>
        <br>

        <button class="make-reservation-btn" onclick="window.location.href='http://127.0.0.1:5000/games';">All Games</button>

    </div>

</body>
</html>
