<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Games</title>
	<link rel="shortcut icon" href="../static/styles/rsc/console.ico" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


    <script>
        async function showAllGames() {
            let url = '/api/all-games'
            let response = await fetch(url);
            let data = await response.json()

           document.getElementById("all_Games").innerHTML = '';
            for(i = 0; i < data.length; i++){
                document.getElementById("all_Games").innerHTML += '<b>' + '<tr> <td>' + data[i][0] + '</td> <td>' + data[i][1] + '</td>  <td>' + getStars(data[i][2]) + '</td>  <td>' + data[i][3] + '</td> </tr>' +  '</b><br>'; // TODO If game is 0, then change to free or put the baseline price
            }
            function getStars(rating) {
                rating = rating/20

              // Round to nearest half
              rating = Math.round(rating * 2) / 2;
              let output = [];

              // Append all the filled whole stars
              for (var i = rating; i >= 1; i--)
                output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

              // If there is a half a star, append it
              if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

              // Fill the empty stars
              for (let i = (5 - rating); i >= 1; i--)
                output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

              return output.join('');

            }
        }

        window.onload = async function () {
            await showAllGames();
        }
    </script>
</head>
<body>
    <div class="header">
        <a href="index" class="logo" style="margin-left: 2vmin;">Game Center</a>
        <button class="login-btn" onclick="location.href = 'login';"style="margin-right: 2vmin;">Login</button>
    </div>


        <div class="games-container">
        <h2>List of all of the games available</h2>
        <table>
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Title</th>
                    <th>Rating</th>
                    <th>Copyright</th>
                </tr>
            </thead>
            <tbody class="reservation-text" id="all_Games">
            </tbody>
        </table>
            <br>
        <button class="make-reservation-btn">Make Reservation</button>



    </div>

</body>
</html>