<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="shortcut icon" href="../static/styles/rsc/console.ico" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">



    </head>
    <!--TODO Need to make the site have a dropdown menu if the user is logged in-->

    <body>
        <header>
            <a class="logo" style="margin-left: 2vmin;">Game Center</a>
            <button class="login-btn" onclick="location.href = 'login';"style="margin-right: 2vmin;">Login</button>
          </header>

        <!--<button class="login" onclick="location.href = '/src/login.html';" >Log-in<br> </button>--->
        <div>
            <h1>WGC's Game Center</h1>

        </div>

        <section>
            <h2>Welcome to Will's, Georg's and Cristian's Game Center!</h2>
            <p>We've got all the latest games for you to enjoy!</p>
        </section>
        <section>
            <h2>Dolore, soluta ratione? Rerum expedita a repellat, quisquam quos quis sed tenetur eveniet non deserunt reiciendis similique? Explicabo ut quisquam odio accusamus vel sunt, labore impedit expedita? Illo, officiis architecto?</h2>
            <p>Quos beatae nobis, blanditiis consequatur praesentium impedit expedita dolorum debitis est voluptate eveniet obcaecati reiciendis ea excepturi earum enim quasi dolore! Tempore perferendis veniam magni saepe libero sed minima molestias.</p>
        </section>

    <button class="games-btn" onclick="location.href = 'games';" style="margin-right: 2vmin;">All Games</button>
    </body>
</html>