<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log-in</title>
        <link rel="shortcut icon" href="../static/styles/rsc/console.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap"
            rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">   <!--Add only if css file is extern--->

        <body>
            <header>
                <a href="index" class="logo" style="margin-left: 2vmin;">Game Center</a>
                <!--<button class="login-btn" href="/src/login.html" style="margin-right: 2vmin;">Login</button>-->
            </header>

            <div>
                <!--<h1>Game Center</h1>-->
            </div>
            <div class="container" id="MainContainer">
                <h2 style="opacity: 1;">Login</h2>
                <form action="http://127.0.0.1:5000/api/login" method="POST">
                    <label for="email" style="color : #d8d8d8">Email:</label><br>
                    <input type="email" id="email" name="email"
                        placeholder="Email" required style="opacity: 1;"><br>
                    <!--<label for="password">Password:</label><br>
                <input type="password" id="password" name="password" placeholder="Password" required><br>
    -->
                    <input type="submit" value="Login">

                </form>


                    <br>
                    <hr>
                    <br>
                    <button class="login-btn" id="create_acc_btn">Create account</button>

                <!--<div class="color-swatch"></div>--->
            </div>







        <script>
            const create_acc_btn = document.querySelector('#create_acc_btn');
            create_acc_btn.addEventListener('click', () => {
                document.getElementById("MainContainer").innerHTML = '';
                document.getElementById("MainContainer").innerHTML += '<h2 style="opacity: 1;">Create Account</h2>\n' +
                    '                <form action="http://127.0.0.1:5000/api/createAccount" method="POST">\n' +
                    '                    <label for="name" style="color : #d8d8d8">Name:</label><br>\n' +
                    '                    <input type="text" id="name" name="name"\n' +
                    '                        placeholder="Name" required style="opacity: 1;"><br>\n' +
                    '                    <label for="email" style="color : #d8d8d8">Email:</label><br>\n' +
                    '                    <input type="email" id="email" name="email"\n' +
                    '                        placeholder="Email" required style="opacity: 1;"><br>\n' +
                    '                    <!--<label for="password">Password:</label><br>\n' +
                    '                <input type="password" id="password" name="password" placeholder="Password" required><br>\n' +
                    '    -->\n' +
                    '                    <input type="submit" value="Create Account">\n' +
                    '\n' +
                    '                </form>\n' +
                    '\n' +
                    '\n' +
                    '                    <br>\n' +
                    '                    <hr>\n' +
                    '                    <br>\n' +
                    '                    <button class="login-btn" id="login_btn" onclick="location.reload()"  >Login</button>\n'
            });
        </script>

        </body>
    </html>
