<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="shortcut icon" href="../static/styles/rsc/console.ico" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">




    </head>
    <body>
        <!-- Header bar -->
        <div class="header">
            <a href="index" class="logo" style="margin-left: 2vmin;">Game Center</a>
            <div class="">
            <div class="dropdown">
                <button class="dropdown-btn">{{username}}</button>
                <div class="dropdown-content">
                    <button onclick="window.location.href='http://127.0.0.1:5000/profile';">Profile</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/dashboard';">Reservations</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/api/logout';">Logout</button>
                </div>
            </div>
        </div>
    </div>
            <!-- Main container -->
        <section id ="MainSection">
        <form action="http://127.0.0.1:5000/api/emailchange" method="POST" id="email-change"></form>
        <form action="http://127.0.0.1:5000/api/topup" method="POST" id="topup"></form>

        <div class="games-container">
            <h2>{{username}}</h2>
            <table>
                <tbody class="reservation-text">
                    <tr id="email">
                        <th>E-Mail:</th>
                        <th>{{email}}</th>
                        <th id="change-btn">Change</th>
                    </tr>
                    <tr>
                        <th>Balance:</th>
                        <th>CHF {{balance}}.-</th>
                        <th id="topup-btn">Top-up</th>
                    </tr>
                </tbody>
            </table>
        </div>
        </section>



    <script>
        // Change email button functionality
        const change_email_btn = document.querySelector('#change-btn');
        change_email_btn.addEventListener('click', () => {
            document.getElementById("email").innerHTML = '';
            document.getElementById("email").innerHTML +=  '<th>' + 'E-Mail:' + '</th>' + '<th>' +'<input type="email" id="email-change" form ="email-change" name="email-change" placeholder={{email}} required style="opacity: 1;">' + '</th>' + '<th>'+'<input type="submit" value="Change" form="email-change">'+'<th>' ;});

        const topup_btn = document.querySelector('#topup-btn');
        topup_btn.addEventListener('click', () => {
            document.getElementById("MainSection").innerHTML += '<div class="games-container">\n' +
                '            \n' +
                '                    <label for="Amount" style="color : #d8d8d8">Amount:</label><br>\n' +
                '                    <input type="number" form="topup" id="Amount" name="Amount"\n' +
                '                        placeholder="Amount" required style="opacity: 1;"><br>\n' +
                '                    <!--<label for="password">Password:</label><br>\n' +
                '                <input type="password" id="password" name="password" placeholder="Password" required><br>\n' +
                '    -->\n' +
                '                    <input type="submit" value="Add" form="topup">\n' +
                '            \n' +
                '        </div>';});
    </script>





</body>
</html>
