<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="shortcut icon" href="../static/styles/rsc/console.ico" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">




    </head>
    <body>
        <!-- Header bar -->
        <div class="header">
            <a href="index.html" class="logo" style="margin-left: 2vmin;">Game Center</a>
            <div class="">
            <div class="dropdown">
                <button class="dropdown-btn">{{username}}</button>
                <div class="dropdown-content">
                    <button onclick="window.location.href='http://127.0.0.1:5000/profile';">Profile</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/dashboard';">Reservations</button>
                    <button onclick="window.location.href='http://127.0.0.1:5000/api/logout';">Logout</button>
                </div>
            </div>
        </div>
    </div>
            <!-- Main container -->

        <div class="games-container">
            <h2>{{username}}</h2>
            <table>
                <tbody class="reservation-text" id="all_Games">
                    <tr>
                        <th>E-Mail:</th>
                        <th>{{email}}</th>
                    </tr>
                    <tr>
                        <th>Balance:</th>
                        <th>CHF {{balance}}.-</th>
                    </tr>
                </tbody>
            </table>

           <form action="http://127.0.0.1:5000/api/topup" method="POST">
                    <label for="Amount" style="color : #d8d8d8">Amount:</label><br>
                    <input type="number" id="Amount" name="Amount"
                        placeholder="Amount" required style="opacity: 1;"><br>
                    <!--<label for="password">Password:</label><br>
                <input type="password" id="password" name="password" placeholder="Password" required><br>
    -->
                    <input type="submit" value="Add">
                </form>
        </div>


</body>
</html>
