body {
            margin: 0;
            font-family: 'Prompt', sans-serif;
            font-weight: normal;
            font-style: normal;
            color: white;
            background-color: #100024;
            overflow-x: hidden;
            background-image: url(rsc/blobanimation3.svg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-blend-mode: normal;
            background-position: center;
           }

        .container {
            position: relative;
			margin: 35vmin auto; /*Position of the container*/
			width: 325px;
			background-color: rgba(99, 94, 105, 0.3);
			border-radius: 7px;
			padding: 25px;
			box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
			text-align: center;

		}
        h1 {
            text-align: center;
			margin: 7vmin;
			font-size: 50px;
			color: #d8d8d8;
            font-weight:500;

		}

		h2 {
            text-align: center;
			margin-top: 0;
			font-size: 24px;
			color: #d8d8d8;
            font-weight:500;
		}

        p {
            text-align: center;

        }

		input[type="text"], input[type="password"] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #454153;
			border-radius: 4px;
			box-sizing: border-box;
			font-size: 16px;
            background-color: #454153; /* new background color */
            color: #d8d8d8; /* Text font color */
            /*text-align: center;*/
		}

		input[type="submit"] {
			background-color: #100024;
			color: #d8d8d8;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
		}

		.color-swatch {
			background-color: #100024;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin: 20px auto;
		}

/*
        button{
            position: relative;
			/*margin: 1vmin auto; /*Position of the container
			width: 100px;
			background-color: rgba(99, 94, 105, 0.3);
            border: 0;
			border-radius: 7px;
			padding: 10px;
			box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
			text-align: center;
            color: antiquewhite;
        }

        .login{
            position: absolute;
            transform: translate(80vw);
            transform: translate(70vmax);
            text-size-adjust: 35px;
        }

        .login:hover{
            background-color: rgba(48, 45, 59, 0.5);
            cursor: pointer;
        }

        .login:active{
            transform: translateY(1.5px);
        }*/


        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(67, 64, 64, 0.4);
            padding: 10px;
        }

        .logo {
            font-size: 30px;
            font-weight:500;
            color: #d8d8d8;
            text-decoration: none;
            cursor:default;
        }

        .logo:hover {
            text-decoration: none;
        }

        .login-btn {
            background-color: #100024;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .games-btn{
            margin: 5px auto;
            position: absolute;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
			background-color: rgb(109, 101, 101, 0.5);
			color: #ededed;
			border: none;
			border-radius: 5px;
			padding: 10px 12px;
			font-size: 15px;
			font-weight: 500;
			cursor: pointer;
			transition: background-color 0.2s ease-in-out;
        }

        login-btn:hover {
            background-color: #1a0036;
        }

        section{
            margin-left: 2vmin;
            margin-right: 2vmin;
        }
