/*ADD THE CSS TO THIS FOLDER*/

		body {
			margin: 0;
			font-family: 'Prompt', sans-serif;
			color: white;
			background-color: #100024;
			overflow-x: hidden;
			background-image: url(rsc/blobanimation3.svg);
			background-attachment: fixed;
			background-size:  200vm;
			background-repeat: no-repeat;
			background-blend-mode: normal;
			background-position: center;
		}

		.container {
			position: relative;
			margin: 35vmin auto; /*Position of the container*/
			width: 80%;
			max-width: 800px;
			background-color: rgba(99, 94, 105, 0.3);
			border-radius: 7px;
			padding: 25px;
			box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
		}

		h1 {
			text-align: center;
			margin-top: 0;
			font-size: 50px;
			color: #d8d8d8;
		}

		h2 {
			text-align: center;
			margin-top: 0;
			font-size: 24px;
			color: #d8d8d8;
		}


        /*.reservation {
        display: flex;
        justify-content: center;
      }*/
		.reservation {
            display: relative;
            margin: 25vmin auto; /*Position of the container*/
			width: 80%;
            max-width: 800px;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background-color: rgba(255, 255, 255, 0.1);
			padding: 25px;
			margin-bottom: 10px;
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

		.reservation-text {
			flex-grow: 1;
            padding: 15px;
			margin-right: 10px;
			color: #d8d8d8;
            text-align:center;
		}

		.reservation-cancel {
			background-color: #e74c3c;
			color: white;
			border: none;
			border-radius: 5px;
			padding: 5px 10px;
			cursor: pointer;
			transition: background-color 0.3s ease-in-out;
		}

		.reservation-cancel:hover {
			background-color: #c0392b;
		}

		.games-container{
			display: relative;
            margin: 7vmin auto; /*Position of the container*/
			width: 80%;
            max-width: 800px;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background-color: rgba(255, 255, 255, 0.1);
			padding: 25px;
			/*margin-bottom: 10px;*/
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            text-align: center;

		}

		.name {
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 20px;
			cursor: pointer;
		}

		.menu { /*Is not used */
			position: relative;
			/*top: 50px;
			left: 10px;*/
			background-color: rgba(255, 255, 255, 0.1);
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			display: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            background-color: #100024;
            color: white;
            border: none;
            border-radius: 4px; /*Rounded corners*/
            cursor: pointer;
			margin-right: 3vmin
            /*margin-left: 10px;*/
        }

		.dropdown-btn {
			position: relative;
            display: inline-block;
            background-color: #100024;
            color: white;
            border: none;
            border-radius: 4px; /*Rounded corners*/
            padding: 10px;
            cursor: pointer;
            font-size: 16px;

		}

        .dropdown-content {
			/*transform: translate(-50px);*/
			right: 0;
            display: none;
            position: absolute;
            z-index: 1;
			cursor: default;

            /*margin-right: 2vmin;*/
        }

        .dropdown:hover .dropdown-content {
			display: block;

		}


        .dropdown-content button {
            width: 100%;
            text-align: right;
            padding: 10px;
            background-color: #7c7a84;
            color: white;
            border: none;
            border-radius: 4px;
            margin-top: 5px;
			font-size: 16px;
			cursor: pointer;

        }

        .dropdown-content button:hover {
            background-color: #7c7a84;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #454153;
      }

        .header h1 {
            margin: 0;
            font-size: 30px;
            cursor: pointer;
      }

    /*
      .header button {
        /*background-color: #100024;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
      }*/

      /*.main-container {
        position: relative;
        margin: 50px auto;
        width: 80%;
        max-width: 1000px;
        background-color: rgba(99, 94, 105, 0.3);
        border-radius: 7px;
        padding: 25px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
        text-align: center;
      }

      .main-container h2 {
        margin-top: 0;
        font-size: 24px;
        color: #d8d8d8;
      }*/


      /*Left game center logo*/
      .logo {
            font-size: 30px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            cursor:default;
        }

        .logo:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        table {
            width: 100%;
            margin: 0 auto;
        }

        th, td {
            padding: 0.5em 1em;
        }

		#change-btn:hover, #topup-btn:hover{
			text-decoration : underline;
			cursor: pointer;
		}

